<a href="https://colab.research.google.com/github/OSegun/Data-Engineering-Projects/blob/main/DB_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

In [ ]:
import psycopg2

In [ ]:
conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=postgres")

In [ ]:
cur = conn.cursor()

In [ ]:
conn.set_session(autocommit=True)

In [ ]:
cur.execute("create database StartDB")

DuplicateDatabase: database "startdb" already exists

In [ ]:
conn.close()

In [ ]:
conn = psycopg2.connect("host=127.0.0.1 dbname=startdb user=postgres password=postgres port=5432")

In [ ]:
cur = conn.cursor()
conn.set_session(autocommit=True)

In [ ]:
cur.execute("""CREATE TABLE IF NOT EXISTS students (
           student_id int,
           name varchar,
           age int,
           gender varchar,
           subject varchar,
           marks int);
            """)

In [ ]:
cur.execute("""INSERT INTO students (
            student_id, name, age, gender, subject, marks) 
            VALUES (%s, %s, %s, %s, %s, %s)""",
           (1, "Femi", 22, "Male", "SQL", 90))
cur.execute("""INSERT INTO students (
            student_id, name, age, gender, subject, marks) 
            VALUES (%s, %s, %s, %s, %s, %s)""",
           (2, "Funmi", 21, "Female", "Python", 87))

In [ ]:
cur.execute("SELECT * FROM students")
row = cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, 'Femi', 22, 'Male', 'SQL', 90)
(2, 'Funmi', 21, 'Female', 'Python', 87)

In [ ]:
cur.close()
conn.close()